/*
 * Home page
 */

.page-home{
	$this: &;
	background: get-color("blue");
	
	.logo{
		background: url(../img/img-toptal-logo@2x.png) no-repeat;
		background-size: contain;
		width: 200px;
		height: 66px;
		text-indent: -9999px;
		display: inline-block;
		margin-bottom: 4rem;
	}
	
	.row {
		padding-top: $spacer * 2;
		margin-left: 0;
		margin-right: 0;
	}
	
	pre{
		text-align: left;
	}
	
	.profile{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		text-align: left;
		
		&__avatar{
			display: block;
			max-width: 200px;
			flex-basis: auto;			
			flex-grow: 1;
			flex-shrink: 1;
			margin: 0 20px;
			border-radius: 50%;
			box-shadow: 0 0 0 0.5rem get-color("white"),
						0 0 0.5rem 0.5rem rgba(get-color("black"), 0.8);
			
			img{
				border-radius: 50%;
			}
		}
	}
	
	.img-center{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	&__list{
		text-align: left;
		li{
//			margin-bottom: $spacer * 2;
		}
	}
	
	&__heading{
		&--big{
			font-size: 7rem;
			margin-bottom: 5rem;
		}
		&--toptal{
			&:before{
				content: "";
				display: inline-block;
				background: url(../img/favicon.png);
				background-size: contain;
				width: 26px;
				height: 26px;
				margin-right: 10px;
				vertical-align: middle;
			}
		}
		small{
			display: block;
			font-size: 0.4em;
			color: lighten(get-color("black"), 30%);
		}
	}
	
	
	.swiper-slide{
		&:after{
			content: "";
			display: block;
			background: url(#{$img-route}img-toptal-logo.svg) no-repeat;
			background-size: contain;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			opacity: 0.1;
			z-index: -1;
			transform: rotate(-45deg);
		}
	}
	
	&__slide{
		width: 100%;
		max-width: 980px;
		overflow: auto;
    	padding: 3rem 0;
		
		&__img-h{
			max-width: 600px;
		}
	}
}