/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

$color_list: (
  "black": #303030,
  "white": #fff,
  "chalk": #f7f5f7,
  "blue": #3863A0,
  "pink": #c85b8d,
  "red": #dc4d4d,
  "orange": #e3ad50,
  "green": #3DBE8B,
  "yellow": #ff0,
  "purple": #452c52,
  "gold": #cc8f3f,
  "gray": #A9A9A9
);
/**
 * `$font-size-project` no units so `pixel-rem` mixin handles it.
 * See some examples on `_general-styles`
 */

$font-size-project: 16;

/**
 * `$img-route` variable to edit CSS massively
 */

$img-route: "../img/";
$fa-font-path: "../fonts/font-awesome/";